{% extends 'layout_template.html' %}


{% block body %}

<div class="panel panel-default" align=left>
  <div class="panel-heading">
    <h1 class="panel-title">Our Site</h1>
  </div>
  <div class="panel-body">
    Description 
  </div>
</div>

<div class="panel panel-default" align=left>
  <div class="panel-heading">
    <h1 class="panel-title">Our People</h1>
  </div>
  <div class="panel-body">
	  
    <div class="panel panel-default" align=left>
		<div class="panel-heading danny">
		<h1 class="panel-title">Daniel Morrissey</h1>
		</div>
		<div class="panel-body">
			A programming extraordinaire, this Software Engineering student's soul is written in C. He enjoys photography, good dance parties and efficient for loops. Daniel's greatest ambition is to be able to share his coded creations with the world.
		</div>
	</div>
	
	<div class="panel panel-default" align=left>
		<div class="panel-heading lisa">
		<h1 class="panel-title">Lisa Hobbs</h1>
		</div>
		<div class="panel-body">
			Lisa Hobbs will complete her Bachelor of Science degree in Computer Science from the University of Colorado in Boulder in May 2015. She is specializing in the human-centered track of Computer Science. In addition to her CS courses, she has broadened her learning by taking various courses in education, Spanish and cognitive science. With these courses, she will earn a Certificate of Cognitive Science and an International Engineering Certificate in Spanish. The education courses have helped her coordinate K-12 events as the Society of Women Engineers Outreach Chair at CU. Beyond the classroom, she enjoys outdoor activities such as hiking, snowboarding and camping. 
		</div>
	</div>
	
	<div class="panel panel-default contact" align=left>
		<div class="panel-heading contact-heading">
		<h1 class="panel-title">Contact Us</h1>
		</div>
		<div class="panel-body contact-body">
			Daniel: 
			<a href="mailto: djmorrsee@gmail.com" target="_blank"> Email Daniel </a>
			<br/>
			Lisa: 
			<a href="mailto: elisa.hobbs@colorado.edu" target="_blank"> Email Lisa </a>
			or
			<a href="www.lisa-hobbs.com" target="_blank">Visit her website </a>
		</div>
	</div>

  </div>
</div>

{% endblock %}
