{% extends 'layout_template.html' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    Game Details {{game.match_id}}
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <p class="col-md-3">{{ game.start_time }}</p>
      <p class="col-md-3">Duration: {{ game.duration / 60 }} minutes</p>
      <p class="col-md-3">Mode: {{ game.game_mode }}</p>
      <p class="col-md-3">Victor: {% if game.radiant_win %} Radiant {% else %} Dire {% endif %} </p>
    </div>
  </div>
</div>

{% for i in range(0,2) %}

<div class="panel panel-default team-panel">
  <div class="panel-heading team-heading">
    {% if loop.first %} Radiant {% else %} Dire {% endif %}
  </div>
  <div class="panel-body team-body">
    {% for p in game.players[5*i:5*(i+1)] %}

    <div class="panel panel-default player-panel">
      <div class="panel-heading player-heading">
        <div class="panel-title">
          <h1 class="panel-title">{{ p.hero_id }}</h1>
        </div>
      </div>
      <div class="panel-body player-body">
        <div class="player-details">
          <div class="player-portrait col-md-3">
            <img src="{{p.portrait_url}}"/>
          </div>
          <div class="player-items col-md-4">
            {% for i in range(0, 6) %}
            <div class="col-md-4">
              {% if p.item_urls[i] %}
              <img src="{{p.item_urls[i]}}" width="100%"/>
              {% else %}
              <img src="http://placehold.it/110x83" width="100%">
              {% endif %}
            </div>
            {% endfor %}
          </div>
          <div class="player-skills col-md-5">
            <table>
              {% for i in range (0, 5) %}
              <tr>
                {% for j in range (0, 5) %}
                <td>
                  {% if p.abilities[j + 5 * i] %}
                    <img src="{{p.abilities[j + 5 * i].ability_img_url}}"/>
                  {% else %}
                    <img src="http://placehold.it/70x70"/>
                  {% endif %}
                </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>

        <div class="player-stats table-responsive">
          <table class="table table-condensed table-bordered player-table">
            <tr>
              <th>Level</th>
              <th>XP/M</th>
              <th>Gold</th>
              <th>Gold Spent</th>
              <th>G/M</th>
              <th>K/D/A</th>
              <th>LH/D</th>
              <th>Hero Damage</th>
              <th>Hero Healing</th>
              <th>Tower Damage</th>
            </tr>
            <tr>
              <td>{{p.level}}</td>
              <td>{{p.xpm}}</td>
              <td>{{p.gold}}</td>
              <td>{{p.gold_spent}}</td>
              <td>{{p.gpm}}</td>
              <td>{{p.kills}}/{{p.deaths}}/{{p.assists}}</td>
              <td>{{p.last_hits}} / {{p.denies}}</td>
              <td>{{p.hero_damage}}</td>
              <td>{{p.hero_healing}}</td>
              <td>{{p.tower_damage}}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endfor %}

{% endblock %}
