{% extends 'layout_template.html' %}


{% block body %}
<div class="panel panel-default">
	<div class="panel-heading">Filters</div>
	<div class="panel-body" align="left">
		<div class="col-md-2">Sort by:</div>
		<div class="col-md-4">
			<select class="form-control">
				<option>Account ID</option>
				<option>Hero</option>
				<option>Game Type</option>
				<option>Lobby Type</option>
			</select>
		</div>
		<div class="col-md-4">
			<input type="text" class="form-control" placeholder="Enter Account ID">
		</div>
		<div class="col-md-2">
			<button class="btn btn-default">Go!</button>
		</div>
	</div>
</div>
{% for g in games %}
<div class="panel panel-default">
	<div class="panel-heading match">
		<a href="/details?id={{g.match_id}}">Match {{g.match_id}}</a>		
	</div>
	<div class="panel-body">
		<div class="panel panel-body">
			<p class="col-md-3">Start Time: {{ g.start_time }}</p>
			<p class="col-md-3">Duration: {{ g.duration / 60.0 }} hours</p>
			<p class="col-md-3">Mode: {{ g.game_mode }}</p>
			<p class="col-md-3">Victor: {% if g.radiant_win %} Radiant {% else %} Dire {% endif %} </p>		
		</div>
		<div class="col-md-6">
		<div class="panel panel-default" {% if g.radiant_win %}style="border:#CDF522 5px solid"{% endif %}>
			<div class="panel-heading radiant">Radiant Team</div>
			<div class="panel-body">
				{% for p in g.players if p.slot < 5 %}
				<div class="col-md-2 {% if loop.first %}col-md-offset-1{% endif %}">
					<p>{{ p.account_id }}</p>
					<img src="{{ p.portrait_url }}" width="100%">
				</div>
				{% endfor %}
			</div>
		</div>
		</div>
		
		<div class="col-md-6">
		<div class="panel panel-default" {% if not g.radiant_win %}style="border:#CDF522 5px solid"{% endif %}>
			<div class="panel-heading dire">Dire Team</div>
			<div class="panel-body">
				{% for p in g.players if p.slot >= 5 %}
				<div class="col-md-2 {% if loop.first %}col-md-offset-1{% endif %}">
					<p>{{ p.account_id }}</p>
					<img src="{{ p.portrait_url }}" width="100%">
				</div>
				{% endfor %}
			</div>
		</div>
		</div>
		
	</div>	
</div>
{% endfor %}

{% endblock %}

