{% extends 'layout_template.html' %}


{% block body %}

<div class="panel panel-default" align=left>
  <div class="panel-heading">
    <h1 class="panel-title">The Project</h1>
  </div>
  <div class="panel-body">
    This site shows the latest games of Dota2 from all over the world.  Included in each of the games' details are the players on each team, which heros were used, which items they bought, how many kills they made and statistical analysis of the games and players.  Using your Steam account ID you can look up your Dota2 stats or just browse the most recently played games! 
  </div>
</div>

<div class="panel panel-default" align=left>
  <div class="panel-heading">
    <h1 class="panel-title"><a href="/games">Games</a></h1>
  </div>
  <div class="panel-body">
    We have a running database of (hopefully) every game since March 19th, 2014. Click on games to browse through the list by game type, hero composition and more. 
  </div>
</div>

<div class="panel panel-default" align=left>
  <div class="panel-heading">
    <h1 class="panel-title"><a href='/players'>Players</a></h1>
  </div>
  <div class="panel-body" align="center">
		<p>Look up information about a specific player by entering their Steam account ID.</p>
	<div class="col-md-4" align="right">Account Id:</div>
		<div class="col-md-4">
			<input type="text" class="form-control" placeholder="Enter Account ID">
		</div>
		<div class="col-md-4" align="left">
			<button class="btn btn-default">Go!</button>
		</div>
  </div>
</div>

<div class="panel panel-default" align=left>
  <div class="panel-heading">
    <h1 class="panel-title"><a href='/stats'>Stats</a></h1>
  </div>
  <div class="panel-body">
  	Coming Soon: Our stats page will show analysis of games and players
  </div>
</div>

{% endblock %}
