{% extends 'layout_template.html' %}


{% block body %}

<div class="panel panel-default" align=left>
  <div class="panel-heading">
    <h1 class="panel-title">The Project</h1>
  </div>
  <div class="panel-body">
    To collect and analyze global Dota 2 game statistics. 
  </div>
</div>

<div class="panel panel-default" align=left>
  <div class="panel-heading">
    <h1 class="panel-title">Games</h1>
  </div>
  <div class="panel-body">
    We have a running database of (hopefully) every game since March 19th, 2014. Click on games to browse through the list by game type, hero composition and more. 
  </div>
</div>

<div class="panel panel-default" align=left>
  <div class="panel-heading">
    <h1 class="panel-title">Players</h1>
  </div>
  <div class="panel-body">
  	Enter Descritpion
  </div>
</div>

<div class="panel panel-default" align=left>
  <div class="panel-heading">
    <h1 class="panel-title">Stats</h1>
  </div>
  <div class="panel-body">
  	Enter Descritpion
  </div>
</div>

<div class="panel panel-default" align=left>
  <div class="panel-heading">
    <h1 class="panel-title">Database</h1>
  </div>
  <div class="panel-body">
  	Enter Descritpion
  </div>
</div>
{% endblock %}