{% extends 'layout_template.html' %}


{% block body %}
<div class="panel panel-default">

	<div class="panel-heading" align="center">
		<h1>Statistics!</h1>
	</div>

	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-body" align="center">
				<h4>Skill Rating</h4>
				<button class="btn btn-default">All</button>
				<button class="btn btn-default">Normal</button>
				<button class="btn btn-default">High</button>
				<button class="btn btn-default">Very High</button>

			</div>
		</div>

		<div>
			{% include 'stats/overall_stats.html' %}
		</div>
		<div>
			{% include 'stats/total_stats.html' %}
		</div>
	</div>
</div>





{% endblock %}
