/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for
   you to simply add your own. This is a basic template
   after all.
   ---------------------------------------------------------*/
body {
	background-color:#000;
}

.panel-body .panel .panel .contact-body a{
	color: #D50000;
}

.btn {
	background:-webkit-linear-gradient(#282828 50%, #AC0000);
	background:-o-linear-gradient(#282828 30%, #AC0000);
	background:-moz-linear-gradient(#282828 30%, #AC0000);
	background:linear-gradient(#282828 50%, #AC0000);
	background-color: #341813;
	border-color: #702D29;
	color:#FFF;
}

a:visited, a:focus, a:hover, a:active {
    color: #FFF;
}


/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
body, html {
    font-family:Courier;
}

.page-title {
	display:inline-block;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	color: #868686;
	text-shadow: 2px 2px #191819;
}

.player-body {
  padding:0;
}

.player-details {
  overflow:hidden;
  padding-top:15px;
  padding-bottom:15px;
}

.player-portrait {
  padding:1px;
  padding-left:15px;
}

.player-portrait img {
  padding:0;
  width:100%;
  height:100%;
}

.player-table {
  margin-bottom:0;
}

.player-items {
}

.player-items div {
  padding:1px;
}

.player-skills {
}

.player-skills div {
  padding:1px;
}


/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        background: transparent !important;
    }

    html {
        background-color: #fff;
    }
    /* Hide navigation */
    nav {
        display: none;
    }

    /* Show link destinations in brackets after the link text */
    a[href]:after {
        content: " (" attr(href) ") ";
    }

    a[href] {
        font-weight: bold;
        text-decoration: underline;
        color: #06c;
        border: none;
    }
    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    figure {
        margin-bottom: 1em;
        overflow: hidden;
    }

        figure img {
            border: 1px solid #000;
        }
}
