
{% block overall %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Overall Stats!</h4>
	</div>
	<div class="panel-body">

		<div class="col-xs-5 col-xs-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p>Data Set Size:</p>
				</div>
				<div class="panel-body">
					<div class="col-xs-4" align="right">
						<p>Ranking</p>
						<p>Normal: </p>
						<p>High: </p>
						<p>Very High: </p>
						<p>Accounts: </p>
						<p>Total: </p>
					</div>
					<div class="col-xs-1" align="left">
						<p></br></p>
						<p>5</p>
						<p>5</p>
						<p>5</p>
						<p>5</p>
						<p>5</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p>Wins:<p>
				</div>
				<div class="panel-body" align="center">
					<div>Radiant : Dire</div>
					<div>100 : 100</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}
